server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ShopAuth
    username: postgres
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui